<div *ngIf="enAttente(); else elseBlock" id="connexion-section" class="text-center">
    <form [formGroup]="connexionForm" (ngSubmit)="connexion()">
        <label class="h3 font-weight-normal">
          Rejoindre une partie
        </label>
        <div class="form-group">
          <input formControlName="pseudo" type="text" class="form-control mb-3 mt-3" placeholder="Entrez votre pseudo" autofocus>
        </div>
        <div class="form-group">
          <fieldset
          class="mb-3 mt-3">
            <legend class="font-weight-normal">
              Choisir un avatar
            </legend>
            <label *ngFor="let nameImg of avatars;">
              <input
                formControlName="avatar"
                type="radio"
                name="avatar"
                [value]="nameImg"
              />
              <img [src]="'assets/avatar/'+nameImg"class="rounded-circle avatar">
            </label>
          </fieldset>
        </div>
        <div class="position-relative">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
          <div *ngIf="isSubmitConnexion" class="position-absolute w-100 blanc">
              <div *ngIf="connexionForm.controls['pseudo'].errors">selectionnez un pseudo</div>
              <div *ngIf="connexionForm.controls['avatar'].errors">selectionnez un avatar</div>
          </div>
        </div>
    </form>
</div>

<ng-template #elseBlock>
  <div id="jeu-section" class="row-container">

    <div
    id="gauche"
    class="d-flex justify-content-center align-items-center flex-wrap col-lg-10 col-9">
      <p *ngIf="bravo">Bravo vous avez réussi à sortir en {{bravo}} minutes !</p>
      <ng-container
      *ngFor="let indice of jeux.indices">
        <app-indice
        [indice]="indice"
        [codeForm]="codeForm"
        [codePlaceholder]="codePlaceholder"
        (erreur)="erreurIndice($event)"
        (combinaison)="ajouterIndice($event)"
        (rechercheCode)="rechercheCode()"></app-indice>
      </ng-container>
    </div>

    <div
    id="droite"
    class="text-center col-lg-2 col-3">
      <div>{{this.jeux.nom}}</div>
      <div>{{getChrono(this.jeux.chrono)}}</div>
      <form id="indiceForm" [formGroup]="indiceForm" (ngSubmit)="rechercheIndice()">
        <label for="indice" class="h3 font-weight-normal">Recherche d'indice</label>
        <input type="number" id="indice" class="form-control" placeholder="Entrez un numéro" formControlName="indice">
      </form>
      <!-- <form id="codeForm" [formGroup]="codeForm" (ngSubmit)="rechercheCode()">
        <div id="desactiveInput"></div>
        <label for="code" class="h3 font-weight-normal">Code</label>
        <input type="number" id="code" class="form-control" placeholder="Entrez un code" formControlName="code">
        <div
        id="clavier"
        >
          <div
          class="d-flex flex-lg-nowrap justify-content-around">
            <div *ngFor="let v of [1, 2, 3]" class="touch" (click)="enregistreCode(v)"><h3>{{v}}</h3></div>
          </div>
          <div
          class="d-flex flex-lg-nowrap justify-content-around">
          <div *ngFor="let v of [4, 5, 6]" class="touch" (click)="enregistreCode(v)"><h3>{{v}}</h3></div>
          </div>
          <div
          class="d-flex flex-lg-nowrap justify-content-around">
          <div *ngFor="let v of [7, 8, 9]" class="touch" (click)="enregistreCode(v)"><h3>{{v}}</h3></div>
          </div>
          <div
          class="d-flex flex-lg-nowrap justify-content-around">
            <div class="touch" (click)="enregistreCode(0)"><h3>0</h3></div>
          </div>
          <div
          class="d-flex flex-lg-nowrap justify-content-around">
            <div class="btn btn-secondary mr-1" (click)="codeForm.reset()">Retour</div>
            <button type="submit" class="btn btn-primary mr-1">Valider</button>
          </div>
        </div>
        <div *ngIf="codeTeste" class="float-left">
          <div *ngIf="codeForm.controls['code'].errors">Le code doit être à 4 chiffres</div>
          <div *ngIf="codeErreur">Ce n'est pas le bon code</div>
        </div>
      </form> -->
      <form id="chatForm" [formGroup]="chatForm" (ngSubmit)="envoiMessage()">
        <h3>Equipe</h3>
        <div
        *ngFor="let joueur of jeux.equipe">
          <app-joueur [joueur]="joueur"></app-joueur>
        </div>
        <div
        id="chat"
        >
          <ng-container
          *ngFor="let joueur of jeux.equipe">
            <ng-container
            *ngFor="let message of joueur.notes">
              <div class="d-flex justify-content-start text-justify m-2">
                <img [src]="'assets/'+joueur.img" alt="Avatar" class="rounded-circle avatar">
                <p class=" m-0">{{message.message}}</p>
                <!-- <span class="time-right">11:00</span> -->
              </div>
            </ng-container>
          </ng-container>
        </div>
        <input type="text" id="message" class="form-control" placeholder="Entrez votre message ..." formControlName="message">
      </form>
    </div>

  </div>
</ng-template>
