<div *ngIf="!activer; else elseBlock" class="card" style="width: 18rem;">
    <h3 [className]="indice.combinable ? rougeOuBleu(indice.combinable.couleur) : 'blanc'">{{indice.nom}} {{indice.id}}</h3>
    <img class="card-img-top" [src]="indice.img" alt="Card image cap">
    <div *ngIf="!activer; else elseBlock"class="card-body">
        <p>{{indice.description}}</p>
        <form *ngIf="indice.combinable" [formGroup]="combinaisonForm" (ngSubmit)="testerCombinaison()">
            <label for="combinaison" class="h3 font-weight-normal">Combiner</label>
            <input type="number" id="combinaison" class="form-control" placeholder="Entrez un numéro" formControlName="combinaison">
        </form>
        <button *ngIf="indice.machine?.active" class="btn btn-primary" (click)="utiliser()">Utiliser</button>
    </div>
</div>
<ng-template #elseBlock>
    <div class="card" style="width: 18rem;">
        <form [formGroup]="machineForm" (ngSubmit)="testerMachine()">
            <p>Séléctionnez une réponse</p>
            <div *ngFor="let choix of indice.machine?.choix" class="form-check">
                <input [id]=choix class="form-check-input" type="radio" [value]="choix" formControlName="choix">
                <label class="form-check-label" [for]="choix">
                    <img class="card-img-top" style="width: 4rem;" [src]="choix" alt="form image">
                </label>
            </div>
            <button type="submit" class="btn btn-primary mr-1">Valider</button>
            <button class="btn btn-secondary mr-1" (click)="retour()">Retour</button>
        </form>
    </div>
</ng-template>
